# Set the Telegram API key
TELEGRAM_API_KEY="xxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# File path to the Google API key
# Should be in the same directory as the env file
GOOGLE_KEY_FILE_PATH="google_key.json"
GOOGLE_DOC_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# To set the chat id of the admin you can use username or chat id
ADMIN_CHATS=username,-123456789